/* body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: stretch;
} */

:host {
    display: block;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
      "top-left top-right"
      "bottom-left bottom-right";
    height: 100%;
    width: 100%;
  }
  
  .corner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 100px;
    height: 100px;
  }
  
  .top-left {
    grid-area: top-left;
    align-self: start;
    justify-self: start;
  }
  
  .top-right {
    grid-area: top-right;
    align-self: start;
    justify-self: end;
  }
  
  .bottom-left {
    grid-area: bottom-left;
    align-self: end;
    justify-self: start;
  }
  
  .bottom-right {
    grid-area: bottom-right;
    align-self: end;
    justify-self: end;
  }
  

/* .container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    height: 100%;
    width: 100%;
    /* place-items: stretch; */
} */

/* .corner {
    width: 100px;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.top-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: start;
    justify-self: start;
}

.top-right {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    align-self: start;
    justify-self: end;
}

.bottom-left {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: end;
    justify-self: start;
}

.bottom-right {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    align-self: end;
    justify-self: end;
} */
